
@{
    ViewBag.Title = "ChinhSachGiaoHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <img src="~/Images/ChinhSach/ChinhSachGiaoHang/chinhsachgiaohang.jpg" />
    <img src="~/Images/ChinhSach/ChinhSachGiaoHang/chinhsachgiaohang2.jpg" />
    <img src="~/Images/ChinhSach/ChinhSachGiaoHang/chinhsachgiaohang3.jpg" />
    <img src="~/Images/ChinhSach/ChinhSachGiaoHang/chinhsachgiaohang4.jpg" />
</div>

