
@{
    ViewBag.Title = "Chính sạch bảo mật";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mt-5">
    <b class="mb-3">
        1/ Mục đích thu thập thông tin cá nhân
    </b>
    <p class="mb-3">
        Bạn có thể ghé thăm và duyệt Website của chúng tôi bình thường mà không tiết lộ Thông tin Cá nhân của mình.
    </p>
    <p class="mb-3">
        Tuy nhiên, trong trường hợp bạn muốn mua hàng, bạn cần phải đăng ký: (a) họ và tên của bạn, (b) số điện thoại, (c) địa chỉ thư điện tử, (d) mật khẩu, (e) ngày sinh; (f) địa chỉ nơi cư trú với Website.
    </p>
    <p class="mb-3">
        Mục đích thu nhập thông tin là để chúng tôi có cơ sở để xác nhận đơn hàng của quý vị.
    </p>
    <p class="mb-3">
        Nếu bạn đã là thành viên của website Cleverhippo.vn thì bạn chỉ cần chọn đổi mật khẩu để kích hoạt tài khoản trên trang Mykingdom.com.vn.
    </p>
    <b class="mb-3">
        2/ Phạm vi sử dụng thông tin
    </b>
    <p class="mb-3">
        - Cung cấp thông tin quảng bá, khuyến mãi.
    </p>
    <p class="mb-3">
        - Xác nhận đặt hàng hoặc các dịch vụ Quý khách yêu cầu.
    </p>
    <p class="mb-3">
        - Cải thiện và nâng cao chất lượng dịch vụ bán hàng.
    </p>
    <b class="mb-3">
        3/ Thời gian lưu trữ thông tin
    </b>
    <p class="mb-3">
        - Thông tin sẽ được lưu trữ từ khi khách hàng cung cấp trên hệ thống của Mykingdom.com.vn và không bị mất đi ( lưu trữ vĩnh viễn).
    </p>
    <b class="mb-3">
        4/ Những người hoặc tổ chức có thể được tiếp cận với thông tin đó
    </b>
    <p class="mb-3">
        Chúng tôi cam kết không chia sẻ hay tiết lộ dữ liệu thông tin của Quý khách cho một bên thứ 3 nào khác. Ngoại trừ các trường hợp sau:
    </p>
    <p class="mb-3">
        - Các đối tác vận chuyển, truyền thông và xử lý thông tin.
    </p>
    <p class="mb-3">
        - Các cơ quan nhà nước có thẩm quyền với yêu cầu cụ thể.
    </p>
    <p class="mb-3">
        Khi nhận thông tin từ khách hàng cung cấp, chúng tôi đảm bảo an toàn và bảo mật toàn bộ thông tin bằng các công cụ và giải pháp bảo mật tốt nhất.
    </p>
    <b class="mb-3">
        5/ Địa chỉ của đơn vị thu thập và quản lý thông tin
    </b>
    <p class="mb-3">
        Công ty cổ phần Việt Tinh Anh
    </p>
    <p class="mb-3">
        Địa chỉ: 33-35 đường số D4, khu Đô thị mới Him Lam, Phường Tân Hưng, Quận 7, TP. Hồ Chí Minh
    </p>
    <p class="mb-3">
        Email: hotro@mykingdom.com.vn
    </p>
    <p class="mb-3">
        Điện thoại: Hot Line: 1900 1208 (Từ thứ Hai đến thứ Bảy (08:00 - 17:00) Chủ nhật (08:00 - 12:00))
    </p>
    <b class="mb-3">
        6/ Thay đổi thông tin
    </b>
    <p class="mb-3">
        Nếu Quý khách hàng muốn:
    </p>
    <p class="mb-3">
        -       Từ chối việc nhận bất kỳ thông tin khuyến mại, quảng cáo, email, bản tin, tin nhắn văn bản, cuộc gọi điện thoại và thư.
    </p>
    <p class="mb-3">
        -       Chỉnh sửa, thay đổi thông tin cá nhân
    </p>
    <p class="mb-3">
        Quý khách vui lòng liên hệ Hot Line: 1900 1208 (Từ thứ Hai đến thứ Bảy (08:00 - 17:00) Chủ nhật (08:00 - 12:00)), hoặc địa chỉ email hotro@mykingdom.com.vn để được hướng dẫn chi tiết.
    </p>

</div>

