<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://webmykingdom-001-site1.ctempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>https://win5212.site4now.net:8172/msdeploy.axd?site=webmykingdom-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>webmykingdom-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>webmykingdom-001</UserName>
    <_SavePWD>true</_SavePWD>
    <PrecompileBeforePublish>true</PrecompileBeforePublish>
    <EnableUpdateable>true</EnableUpdateable>
    <DebugSymbols>false</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="MYKINGDOMEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5112.site4now.net;Initial Catalog=db_aa1be0_webmykingdom;User ID=db_aa1be0_webmykingdom_admin;Password=30092027Duy" Name="Data Source=SQL5112.site4now.net;Initial Catalog=db_aa1be0_webmykingdom;User Id=db_aa1be0_webmykingdom_admin;Password=30092027Duy" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Web_MYKINGDOM.Models.MYKINGDOMEntities, Web_MYKINGDOM" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MYKINGDOMEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.MYKINGDOM.csdl|res://*/Models.MYKINGDOM.ssdl|res://*/Models.MYKINGDOM.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL5112.site4now.net;Initial Catalog=db_aa1be0_webmykingdom;User Id=db_aa1be0_webmykingdom_admin;Password=30092027Duy"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>